

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px

// Media Queries
$mq-xsmall: "(max-width: #{$bp-small})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
