<nav class="header">
  <h1 class="header__title"></h1>
  
  <input class="header__search-bar form-control" 
  placeholder="O que você procura?" 
  type="text" 
  [(ngModel)]=inputText 
  (input)=handleInputChange()/>

  <button type="button" class="btn btn-primary">
    <i class="material-icons md-18">search</i>
  </button>
</nav>

<div class="search-results">
  <ul class="list-group">
    <li class="list-group-item" 
    *ngFor="let result of showedResults"
    [ngClass]="{ active: result == resultSelected }" 
    (click)="selectResult(result)">

        <!-- If is selected -->
        <div class="selected-item row" *ngIf="result == resultSelected">
          <!-- Close button -->
          <div class="selected-item__close-button">
            <i class="material-icons md-18">close</i>
          </div>

          <div class="selected-item__company-image col-xs-6">
            <img [src]="result.photoURL">
          </div>

          <div class="col-xs-6">
            <p>{{ result.category }} </p><p> {{ result.title }} </p><p> {{ result.city }} 
            </p><p> Tel:{{ result.telephone }}</p>
          </div>
        </div>

        <!-- If not selected -->
        <div class="row" *ngIf="result != resultSelected">
          <div class="col-xs-12">
            {{ result.category }} - {{ result.title }} - {{ result.city }} 
            - Tel:{{ result.telephone }}
          </div>
        </div>
    </li>
  </ul>
</div>


