@import '../assets/scss/main';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  height: 97px;

  display: flex;
  flex-direction: row;

}

.header__title {
  color: #4e4e4e;
  margin: 0;

  &:after {

    @include bp-xsmall() {
      content: 'K';
    }
    @include bp-small() {
      content: 'KEUKERO';
    }
  };
}

.header__search-bar {
  margin: auto 1rem;
  flex-grow: 1;
  height: 48px;
}

.search-results {
  margin-top: 97px;
}

.selected-item {

  &__close-button {
    position: absolute;
    right: 15px;
    color: white;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &__company-image {
    margin: auto 5px;
    
    img {
      max-width: 150px;
      max-height: 150px;
    }
  }
}